<% provide(:title, t('.title')) %>
<div class="video-container d-flex align-items-center justify-content-center">
  <%= video_tag 'prismay_coming_soon_es.mp4', autoplay: :autoplay, loop: :loop,
                muted: :muted, class: 'prismay-coming-soon-video' %>
</div>
