// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.video-container {
  height: 100vh;
}

.prismay-coming-soon-video {
  width: 100%;
  @media (min-width: 576px) {
    width: 90%;
    border-radius: 50px;
  }
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 70%;
  }
  @media (min-width: 1200px) {
    width: 60%;
  }
}
